/* Positions */
.top-left {
    position: absolute;
    top: -5%;
    left: 0%;
    z-index: 1;
}

.top-middle {
    position: absolute;
    top: -20%;
    left: 28%;
    z-index: 3;
}

.top-right {
    position: absolute;
    top: 10%;
    left: 70%;
    z-index: 2;
}

.center {
    position: absolute;
    top: 16%;
    left: 30%;
    z-index: 7;
}

.bottom-left {
    position: absolute;
    top: 42%;
    left: 0%;
    z-index: 4;
}

.bottom-middle {
    position: absolute;
    top: 50%;
    left: 28%;
    z-index: 6;
}

.bottom-right {
    position: absolute;
    top: 50%;
    left: 63%;
    z-index: 5;
}