.instrument-swiper {
    width: 500px;
    height: 500px;
    margin-top: 150px;

    .throat-player {
        height: 76%;
        width: 76%;
    }

    .swiper-slide {
        .chakra-shape {
            height: 50vh;
            width: 50vh;
            margin: 0 auto;
        }
    }
}