.athmosphere-swiper {
    width: 1100px;
    margin-top: 120px;

    .swiper-slide {
        .chakra-shape {
            height: 60vh;
            width: 60vh;
            margin: 0 auto;
        }
    }
}