.athmosphere-swiper {
    margin-top: 120px;

    --swiper-pagination-bullet-size: 24px;
    --swiper-pagination-bottom: -100px;

    .swiper-slide {
        .chakra-shape {
            position: relative;
            height: 60vh;
            width: 60vh;
            margin: 0 auto;
        }

        .throat-shape {
            z-index: 4;
        }

        .heart-shape {
            z-index: 3;
        }

        .solar-shape {
            z-index: 2;
        }

        .thirdeye-shape {
            z-index: 1;
        }
    }
}