.vocalsPlayer-container { 
    height: 70px;
    width: 350px;
    margin: 0 auto;
    padding-left: 25px;
    padding-top: 8px;
    border-radius: 100px;
    overflow: hidden;
    pointer-events: auto;
}