.cube-side {
    border : 1px solid var(--blue-700);
    border-radius: 4px;

    transform: translateY(0);

    ion-grid, ion-row, ion-col { 
        padding: 0;
    }

    .wavesurfer-custom-wrapper { 
        transform: translateY(0) rotate(270deg);
    }
}

/* Override styles to make all sides of the cube visible */
.swiper-cube { 
    .swiper-slide {
        visibility: visible;
    }
}

.wavesurfer-custom-wrapper { 
    opacity: 0.4;
}

.swiper-slide-fully-visible {
    .wavesurfer-custom-wrapper { 
        opacity: 1;
    }
    
}

.swiper-cube-shadow { 
    background-color: var(--blue-500);
}