.musical-cube-swiper {
    height: 203px;
    width: 204px;
    margin-top : 20px;

    .swiper-cube-shadow { 
        background-color: var(--blue-700);
    }

    .swiper-slide { 
        border : 1px solid var(--blue-900);
    }

    ion-grid, ion-row, ion-col { 
        padding: 0;
    }
}

#waveform-0, #waveform-1, #waveform-2, #waveform-3  {
    transform: translateY(0) rotate(270deg);
}
