/* Create a mixin to simplify all of this 
or move it to jscss*/

.chakra-shape { 
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: cover;
}

.crown-shape {
    height: 60vh;
    width: 60vh;
    background-image: url("assets/chakras/crown.svg");
}

.thirdeye-shape {
    height: 80vh;
    width: 80vh;
    background-image: url("assets/chakras/third-eye.svg");
}

.throat-shape {
    height: 60vh;
    width: 60vh;
    background-image: url("assets/chakras/throat.svg");
}

.heart-shape {
    height: 70vh;
    width: 70vh;
    background-image: url("assets/chakras/heart.svg");
    opacity: 0.8;
}


.solar-shape {
    height: 65vh;
    width: 65vh;
    background-image: url("assets/chakras/solar.svg");
    opacity: 0.8;
}


.sacral-shape {
    height: 75vh;
    width: 75vh;
    background-image: url("assets/chakras/sacral.svg");
}

.root-shape {
    height: 55vh;
    width: 55vh;
    background-image: url("assets/chakras/root.svg");
}