/* Create a mixin to simplify all of this 
or move it to jscss*/
.crown-player {
    position: relative;
    top: 15.77%;
    left: 2px;
    margin: 0 auto;
    height: 70%;
    width: 70%;
    border-radius: 300px;
    opacity: 0.8;

    background-color: var(--purple-800);

    box-shadow:
        inset 0 0 40px var(--purple-600),
        inset 20px 0 80px var(--purple-800),
        inset -20px 0 200px var(--purple-900),
        inset 20px 0 300px var(--purple-900),
        inset -20px 0 300px var(--purple-900),
        0 0 50px var(--purple-300),
        -5px 0 80px var(--purple-800),
        40px 0 80px var(--purple-900);
}

.thirdeye-player {
    position: relative;
    top: 25%;
    left: 0px;
    margin: 0 auto;
    height: 57%;
    width: 57%;
    border-radius: 300px;
    opacity: 0.85;

    background-color: var(--indigo-800);

    box-shadow:
        inset 0 0 40px var(--indigo-500),
        inset 20px 0 80px var(--indigo-500),
        inset -20px 0 200px var(--indigo-500),
        inset 20px 0 300px var(--indigo-900),
        inset -20px 0 300px var(--indigo-900),
        0 0 50px var(--indigo-500),
        -5px 0 80px var(--indigo-400),
        40px 0 80px var(--indigo-300);
}

.throat-player {
    position: relative;
    top: 11%;
    left: 4px;
    margin: 0 auto;
    height: 76%;
    width: 76%;
    border-radius: 300px;
    opacity: 0.9;

    background-color: var(--blue-800);

    box-shadow:
        inset 0 0 40px var(--blue-200),
        inset 20px 0 80px var(--blue-400),
        inset -20px 0 200px var(--blue-400),
        inset 20px 0 300px var(--blue-800),
        inset -20px 0 300px var(--blue-800),
        0 0 50px var(--blue-500),
        -5px 0 80px var(--blue-500),
        40px 0 80px var(--blue-500);
}

.heart-player {
    position: relative;
    top: 17.77%;
    left: 5px;
    margin: 0 auto;
    height: 66%;
    width: 66%;
    border-radius: 300px;
    opacity: 0.8;

    background-color: var(--green-800);

    box-shadow:
        inset 0 0 40px var(--green-700),
        inset 20px 0 80px var(--green-300),
        inset -20px 0 200px var(--green-900),
        inset 20px 0 300px var(--green-900),
        inset -20px 0 300px var(--green-800),
        0 0 50px var(--green-700),
        -5px 0 80px var(--green-800),
        20px 0 80px var(--green-800);
}

.solar-player {
    position: relative;
    top: 17%;
    left: -5px;
    margin: 0 auto;
    height: 66%;
    width: 66%;
    border-radius: 300px;
    opacity: 0.9;
    background-color: var(--yellow-700);

    box-shadow:
        inset 0 0 40px var(--yellow-600),
        inset 20px 0 80px var(--yellow-800),
        inset -20px 0 200px var(--yellow-800),
        inset 20px 0 300px var(--yellow-700),
        inset -20px 0 300px var(--yellow-900),
        0 0 50px var(--yellow-800),
        -5px 0 80px var(--yellow-600),
        40px 0 80px var(--yellow-800);
}

.sacral-player {
    position: relative;
    top: 20%;
    left: -1px;
    margin: 0 auto;
    height: 60%;
    width: 60%;
    border-radius: 300px;
    opacity: 0.75;

    background-color: var(--orange-800);

    box-shadow:
        inset 0 0 40px var(--orange-400),
        inset 20px 0 80px var(--orange-500),
        inset -20px 0 200px var(--orange-800),
        inset 20px 0 300px var(--orange-800),
        inset -20px 0 300px var(--orange-800),
        0 0 50px var(--orange-700),
        -5px 0 80px var(--orange-700),
        40px 0 80px var(--orange-700);
}

.root-player {
    position: relative;
    top: 11%;
    left: 5px;
    margin: 0 auto;
    height: 77%;
    width: 77%;
    border-radius: 300px;
    opacity: 0.8;

    background-color: var(--red-900);

    box-shadow:
        inset 0 0 40px var(--red-500),
        inset 20px 0 80px var(--red-600),
        inset -20px 0 200px var(--red-900),
        inset 20px 0 300px var(--red-900),
        inset -20px 0 300px var(--red-900),
        0 0 50px var(--red-700),
        -5px 0 80px var(--red-700),
        20px 0 80px var(--red-700);
}