.heart-player {
    height: 50vh;
    width: 50vh;
    max-height: 700px;
    max-width: 700px;
    border-radius: 600px;

    background-color: #B71C1C;

    box-shadow:
    inset 0 0 50px #E53935,
    inset 20px 0 80px #E53935,
    inset -20px 0 80px #E53935,
    inset 20px 0 300px #E53935  ,
    inset -20px 0 300px #C62828,
    0 0 50px #E53935,
    -10px 0 80px #E53935,
    10px 0 80px #C62828;
}