/* 
Disable swipe to go back 
https://stackoverflow.com/questions/15829172/stop-chrome-back-forward-two-finger-swipe 
*/
html,
body {
    overscroll-behavior-x: none;
}

.workspace-swiper {
    --swiper-pagination-bullet-size: 24px;
    --swiper-pagination-bullet-inactive-color: white;
    --swiper-pagination-right: 24px;

    width: 100%;
    height: 100%;
}