.soul-swiper {
    height: 100%;

    --swiper-pagination-bullet-size: 24px;

    .swiper-slide {
        .chakra-shape {
            position: relative;
            height: 60vh;
            width: 60vh;
            margin: 0 auto;
        }

        .throat-shape {
            z-index: 4;
        }

        .heart-shape {
            z-index: 1;
        }

        .solar-shape {
            z-index: 2;
        }

        .thirdeye-shape {
            z-index: 1;
        }
    }

    .header-vocal-player { 
        position: absolute; 

        width: 100%;
        top: -45px;
        z-index: 15;
    }

    .chakra-player-container {
        position: relative;
        margin: 0 auto;
        top: 150px;
    }

    .footer-vocal-player { 
        position: absolute; 

        width: 100%;
        bottom: -40px;  
    }
}